<h3><%= I18n.t('candidate_profile.profiling') %></h3>

<%= render partial: 'form', locals: { candidate_profile: @candidate_profile,
                             candidate_formations: @candidate_formations } %>